{{ 'section-hero.css' | asset_url | stylesheet_tag }}

{%- if section.settings.image != blank -%}
  {%- style -%}
    #Hero-{{ section.id }} .hero__media::before {
      padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
      content: '';
      display: block;
    }
  {%- endstyle -%}
{%- endif -%}

<div id="Hero-{{ section.id }}" class="hero">
  <div class="hero-inner page-width">
    <div class="hero-image-container">
      {%- if section.settings.image != blank -%}
        <div class="hero__media media{% if section.settings.image == blank %} placeholder{% endif %}">
          <img
            srcset="{%- if section.settings.image.width >= 375 -%}{{ section.settings.image | img_url: '375x' }} 375w,{%- endif -%}
              {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | img_url: '750x' }} 750w,{%- endif -%}
              {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
              {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
              {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image | img_url: '1780x' }} 1780w,{%- endif -%}
              {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | img_url: '2000x' }} 2000w,{%- endif -%}
              {%- if section.settings.image.width >= 3000 -%}{{ section.settings.image | img_url: '3000x' }} 3000w,{%- endif -%}
              {%- if section.settings.image.width >= 3840 -%}{{ section.settings.image | img_url: '3840x' }} 3840w,{%- endif -%}
              {{ section.settings.image | img_url: 'master' }} {{ section.settings.image.width }}w"
            sizes="100vw"
            src="{{ section.settings.image | img_url: '1500x' }}"
            loading="lazy"
            alt="{{ section.settings.image.alt | escape }}"
            width="{{ section.settings.image.width }}"
            height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}"
          >
        </div>
      {%- endif -%}
    </div>
    <div class="hero-content-container">
      <div class="hero-content-inner">
        <span class="hero-small-text">
          {{ section.settings.small_title_text | escape }}
        </span>
        <h1 class="h2 hero-title">
          {{ section.settings.title_text | escape }}
        </h1>
        {%- if section.settings.button_label != blank -%}
          <a{% if section.settings.button_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ section.settings.button_link }}"{% endif %} class="button{% if section.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}">{{ section.settings.button_label | escape }}</a>
        {%- endif -%}
    </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "hero",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Billede"
    },
    {
      "type": "text",
      "id": "small_title_text",
      "label": "Lille tekst"
    },
    {
      "type": "text",
      "id": "title_text",
      "label": "H1 overskrift",
      "default": "Skriv en fed overskrift"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "Button label",
      "label": "Tekst til knappen"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Giv knappen et link"
    },
    {
      "type": "checkbox",
      "id": "button_style_secondary",
      "default": false,
      "label": "Brug den sekundære farve til knappen"
    }
  ],
  "presets": [
    {
      "name": "Hero-sektion"
    }
  ]
}
{% endschema %}
